[submodule "backend/depends/codex"]
	path = backend/depends/codex
	url = https://github.com/openai/codex.git
[submodule "backend/depends/ultralytics"]
	path = backend/depends/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
