
[submodule "source/backend/depends/codex"]
	path = source/backend/depends/codex
	url = https://github.com/openai/codex.git
[submodule "source/backend/depends/ultralytics"]
	path = source/backend/depends/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
